{{> layouts/header}}
    <h2>show page</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">제목</th>
        <th scope="col">내용</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    {{# article}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/ article}}
    </tbody>
</table>
{{# article}}
    <a href="/articles/{{id}}/edit" class="btn btn-primary">수정</a>
    <a href="/articles/{{id}}/delete" class="btn btn-danger">삭제</a>
    <a href="/articles" class="btn btn-info">목록</a>
{{/ article}}
{{> layouts/footer}}